.container {
    display: flex; 
    justify-content: space-between; 
}

.juego {
    flex: 1; 
}

.menu {
    flex: 0;
    margin-top: 60px;
    width: 580px; 
}

.menu select{
    position: relative;
    right: 300px;
}

button{
    position: relative;
    right: 400px;
    height: 35px;
    
}

.menu input{
    position: relative;
    right: 400px;
    height: 40px;
}

p{
    position: relative;
    right: 350px;
    font-weight: bold;
}


table {
    border-collapse: collapse;
    /*definimos el color de la linea*/
    border: 1px solid black;
    border-top: none;
    border: none;
    display: inline;
}

tr {
    height: 70px;
}

td {
    border: 1px solid black;
    width: 70px;
}

tr:nth-child(even) td:nth-child(even),
tr:nth-child(odd) td:nth-child(odd) {
    background: #66cc6d67;
}



tr:nth-child(odd) td:nth-child(even),
tr:nth-child(even) td:nth-child(odd) {
    background: #66cc6db9;
}

table tr:first-child td {
    background-color: rgb(255, 255, 255) !important ;
    border: none;
    border-left: none;
    text-align: center;
    font-weight: bold;
    font-size: 2em;
}


table td:last-child tr{
    background-color: rgb(255, 255, 255) !important ;
    border: none;
    border-left: none;
    text-align: center;
    font-weight: bold;
    font-size: 2em;
}

table td:last-child  {
    background: #ffffff !important ;
    border: none;
    border-left: none;
    text-align: center;
    font-weight: bold;
    font-size: 2em;
}

div{
    display: inline;
}

select{
    right: 100px;
    font-size: 1.5em;
}

textarea{
    left: 700px;
    top: 150px;
    position: absolute;
    margin-top: 80px;
    font-size: 2em;
    resize: none;
    width: 400px;
    height: 400px;
}

#turno{
    font-size: 24px;
    position: relative;
    top: -150px;
}
